{% extends 'blog/base.html' %}

{% block title %} | {{object.title}} {% endblock %}

{% block main %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{article.image.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{object.title}}</h1>
                    <span class="subheading">{{article.jalali_publish}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 ">
            <!-- Post preview-->
            <div class="post-preview">
                <p class="post-title">{{object.description|linebreaks}}</p>
                <p class="post-meta"> نوشته شده توسط<a href="#!"> hamidreza </a> در {{object.jalali_publish}}</p>
            </div>
            {% for cat in object.category.all %}
            <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4"/>
        </div>
    </div>
</div>
{% endblock %}
